body {
	background: url("Gunung-Fuji.jpg");
	font-family: sans-serif;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

fieldset{
	max-width: 30%;
	border-radius: 10px;
	border-style: solid;
	background: lightyellow;
	display: flex;
	justify-content: center;
	margin: 10px auto;
}
div #container {
	color: darkblue;
	margin: 5px 5px;
	padding: 3px;
	background: white;
	border-radius: 10px;
	font-size: 20px;
	background-color: darkorange;
	
}
#box{

}
h1 {
	text-align: center;
	color: darkblue;
}
